.head-div{
  padding: 10px;
  
}
.avg_cl{
    
}
span{
    padding-left: 2em;
}
h2{
 padding-top: 15px;   
 padding-bottom: 15px;   
    
  
}

.card{
    margin: -12px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 0px;
    border: 1px solid #ccc; 
     
}

