body {
    box-shadow: 0px 0px 4px 2px red;
    padding: 0px;
    margin-right: 0px;
}

#navbar {
    box-shadow: 0px 0px 4px 0px red;
    background-image: linear-gradient(180deg, rgb(231, 201, 201), rgb(99, 155, 136));
    padding: 10px;
    position: fixed;
    width: 300px;
    height: 800px;
   
}

h1 {
    text-shadow: 0px 0px 4px rgb(34, 164, 240), 0px 0px 2px rgb(245, 108, 17);
    font-size: 32px;
    font-weight: lighter;
    padding-left: 10px;
    background-color: darkcyan;
    color: aliceblue;
}

.links {
    box-shadow: 0px 0px 4px 4px rgb(252, 214, 144);
    margin-left: 15px;
    margin-right: 10px;
    padding-right: 30px;
    width: 200px;
    height: 370px;
    display:in-line;
    float:right;
}

.links-li {
    background-color: cadetblue;
    list-style: none;
    font-size: 20px;
    font-weight: lighter;
    font-family: monospace;
   float:initial;
}

a {
    color: black;
    padding: 10px;
    text-decoration: none;
}

    a:hover {
        color: aliceblue;
    }


#main-doc {
    position: absolute;
    margin-top: 40px;
    margin-left: 340px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: justify;
}

.main-section {
    box-shadow: 0px 0px 4px 3px rgb(166, 142, 190);
    padding: 10px 20px;
    margin-bottom: 10px;
}














@media(max-width: 800px) {
    #navbar {
        position: absolute;
        width: 330px;
        height: 470px;
    }

    #main-doc {
        position: absolute;
        margin-top: 500px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
