.register-section{
  /* background-color: #f8f9fa; */
  margin-top: 1rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

  /* 
  .form-container {
    background-color: white; 
    padding: 20px; /* Padding around the form */
    /* border-radius: 8px; Rounded corners */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); Subtle shadow for depth */
  /* }  */
   
  
    .input-field {
    margin-bottom: 1rem; /* Space between fields */
    }  
  
  /* .input-field input[type="checkbox"] {
    margin-right: 1rem; /* Space between checkbox and label */
   /* }   */
  