.edit-div{
    width: 10rem;
    height: auto;
    /* display: flex; */
}

/* .img-div-img{
    border-radius: 50%;
    width: 200px;
    height: 100px;
    margin-top: 20px;
     /* display: flex;
    float: left; */
/* } */ 