body{
    padding: 30px;
    margin: 0px;

    border-color: green;
    border-width: 5px;
    border-style: solid;
    border-radius: 0%;
    background-image: linear-gradient( 90deg, rgba( 100, 100, 200, 0.7),
    rgba( 160, 140, 10, 0.7));
}
/* class for ist head  */

#about{
    color:red;
    font-size: 46px;
    text-shadow: 0px 2px 10px #e04d83, 0px 2px 18px #0facf5;
    border-color: rgb(168, 157, 157);
    border-width: 10px;
    border-top-style: double;
    border-bottom-style: double;
    border-radius: 1px;

    background-color: rgba(64, 100, 30, 0.3);
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 30px;

    margin-top: -26px;
    margin-right: -26px;
    margin-left: -26px;

}



    /* section and aside div 
     (links)  &   (tea logo )   */

.section-aside{
    border-color:rgba(75, 70, 70, 0.9);
    border-width: 5px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-radius: 0px;

    height: 250px;
    margin-top: -26px;
    margin-right: -26px;
    margin-left: -26px;
 padding-top: 20px;
 padding-left: 20px;

  background-image: linear-gradient( 90deg, rgba( 100, 100, 200, 0.7),
                                                rgba( 160, 140, 10, 0.7)); 

/*  background-image: repeating-linear-gradient(40deg, red, green 10%,blue 30%);  */                                             

 
}
/* card for inner pages links   */

.card{
    border-color: khaki;
    border-width: 30px;
    border-style: solid;
    
    height: 150px;
    width: 150px;


}
.card-content{
    background-color: lightblue;

    border-color:lightpink;
    border-width: 20px;
    border-style: solid;

    height: 110px;
    width: 110px;

    
}

.card-text {
    padding: 10px;
    
}
.card-text a{
    text-decoration: none;
   
}
.card-text li{
    
    padding: 5px;
    list-style-type: none;

    font-size: 26px;
}


/*aside tag css  
 tea logo and p tag */

aside{
 

    position: absolute;
    top: 127px;
    left: 260px;
    right: 20px;
    bottom: 416px;
    
    padding-top: 16px;
    padding-right: 20px;
    padding-left: 20px;
}
    /* head 3 of information about us */

h3{
    font-size: 26px;
    letter-spacing: 1px;
    text-shadow: 0px 0px 5px #f0ff1c, 0px 0px 8px #ff1008 ;


    background-color: lightcoral;
    border-color: rgba(38, 37, 40, 0.8);
    border-width: 5px;
    border-top-style: solid ;
    border-bottom-style: solid ;
    border-radius: 5px;

    padding: 20px;
    margin-right: -26px;
    margin-left: -26px;
}

    /* information about us 
       class for div */

 

p{
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.5em;
}
address{
    font-size: 20px;
}
  /* div of info and adress */
.about-info{
    background-image: linear-gradient( 90deg, rgba( 100, 100, 200, 0.7),
    rgba( 160, 140, 10, 0.7));
 
    border-color: rgba(75, 70, 70, 0.9);
    border-width: 5px;
    border-top-style: solid;
    border-bottom-style: solid;

    padding: 30px;

    margin-top: 2px;
    margin-right: -26px;
    margin-left: -26px;
    
    

}
.link-to-top a{
    color:darkred;
    background-color: darkseagreen;
    padding: 10px;
    padding-right: 40px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 5px;
}